<div class="push"></div>
  <footer>
    <aside class="wrap">
      <ol class="prev-posts">
        <p class="list-title">Recent Posts</p>
        {% for post in site.posts | limit:3 %} <!-- for1 -->
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
            </li>
        {% endfor %}
      </ol>

      <div class="social">
        <ul>
            <li><a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">Contact Me</span></a></li>

            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">@{{ site.owner.twitter }}</span></a></li>
            {% endif %}
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="V92Q3GJQNG7CY">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>



            {% if site.owner.dribbble %}
            <li><a id="drib" href="http://dribbble.com/{{ site.owner.dribbble }}" target="_blank"><span class="foot-link">Dribbble</span></a></li>
            {% endif %}
        </ul>
    </div>
    </aside>
    <small>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</small>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
